.formInputPanel {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.formInput {
  width: 350px;
  height: 30px;
  margin: auto;
  padding: 0 20px;
  color: white;
  border: 0;
  border-radius: 50px;
  background-color: #675e77;
}

.formInputLabel {
  margin: 10px 70px;
  color: #a79abf;
}

.errorMessage {
  margin: auto;
  margin-top: 5px;
  color: rgb(255, 60, 0);
}